* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.body {
  font-family: "Open Sans", sans-serif;
}

.quiz-content {
  margin: 10px;
  height: 100vh;
  border-radius: 18px;
  position: relative;
}

.hedding {
  background-color: white;
  height: 35%;
  border-radius: 35px 35px 76px 76px;
  margin: auto;
  background-image: url(../imgs/bgMain.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 17px;
  color: lavender;
}

.quiz-info {
  position: absolute;
  top: 13%;
  left: 50%;
  width: 85%;
  transform: translateX(-50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 30%;
  border-radius: 30px;
  padding: 10px;
  background-color: lavender;
}
.countdownEl {
  background-color: lavender;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  top: -49px;
  left: 50%;
  transform: translateX(-50%);
  color: #3f51b5;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #3f51b5;
  font-size: 18px;
  font-weight: 900;
  height: 70px;
  padding: 0 13px;
}
.countdown span {
}
.countLabel {
  display: flex;
  justify-content: space-between;
  padding: 7px 14px;
}
.right-answersE {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.right-spans {
  background-color: #80c5c5;
}
.right-spans,
.roung-spans {
  width: 15px;
  height: 5px;
  margin: 3px 1px 0 0;
  border-radius: 3px;
}
.roung-answersE {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.roung-spans {
  background-color: rgb(239 54 54);
}
.questions-area {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -66%);
  color: black;
  width: 98%;
  text-align: center;
}
@media (max-width: 424px) {
  .questions-area {
    font-size: 12px;
  }
}
.questions-area h2 {
}
.answers-area {
  position: absolute;
  top: 68%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 288px;
}
@media (min-width: 425px) {
  .answers-area {
    width: 370px;
  }
}
.answers-area .answer {
  justify-content: flex-start;
  min-height: 50px;
  border-radius: 12px;
  border: 3px solid #3f51b5;
  display: flex;
  align-content: center;
  padding: 5px 10px;
  margin: 0 0 5px 0;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.answers-area .answer .answers {
  font-weight: bolder;
  width: 15px;
}
.answer input:checked + label {
  color: #2196f3;
}
.answers-area .answer label {
  margin-left: 11px;
  position: relative;
  top: -1px;
  width: calc(100% - 47px);
  cursor: pointer;
}
@media (max-width: 424px) {
  .answers-area .answer label {
    flex: 1;
    font-size: 12px;
  }
}
.submit-answer {
  position: absolute;
  bottom: 2%;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 5px;
  background-color: #2196f3;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 194px;
  height: 35px;
  color: white;
  font-weight: bold;
  font-size: larger;
}
.pullets {
  position: absolute;
  bottom: 18%;
  right: 50%;
  transform: translate(-100px, -1px);
  left: 50%;
}
@media (max-width: 424px) {
  .pullets {
    transform: translateX(-92px);
  }
}
.pullets .blts-spans {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.pullets .blts-spans span {
  width: 19px;
  height: 20px;
  border-radius: 50%;
  background-color: #ddd;
  border: 1px solid #777;
  margin-right: 2px;
  padding: 5px 3px;
  font-size: 12px;
  text-align: center;
  display: inline-table;
  font-weight: 700;
}
@media (max-width: 424px) {
  .pullets .blts-spans span {
    width: 15px;
    height: 15px;
  }
}
.pullets .blts-spans .on {
  background-color: #2196f3;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 5px;
}

.theResault {
  margin: 20px auto;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #44389b;
  border: 2px solid beige;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.theResault :nth-child(2) {
  margin: 5px;
}
.veryGood,
.exelent,
.sorry {
  padding: 25px;
  width: 266px;
  align-self: center;
  border-radius: 38%;
  font-size: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 29px;
  background-color: darkcyan;
}
.veryGood {
  color: greenyellow;
}
.exelent {
  color: goldenrod;
}
.sorry {
  color: white;
  background-color: red;
}
.rResalteAns {
  color: #2196f3;
  font-size: 36px;
}
.resault {
  width: 50%;
  height: 57%;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.resault.congrats {
  background-image: url(../imgs/congrats.gif);
  background-position: center;
  background-size: cover;
  height: 96%;
  width: 100%;
  bottom: -32px;
}
.resault.sad {
  background-image: url(../imgs/sad_emoji_lg_wm\ .gif);
  background-position: center;
  background-size: cover;
}
.footerR {
  width: 100%;
  background-color: #f6f6f6;
  height: 34px;
  color: rgb(104, 105, 120);
  position: absolute;
  bottom: 18px;
  border: 1px solid wheat;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}
.reloadBtn {
  background-color: #3f51b5;
  left: 10px;
  bottom: 3%;
  position: absolute;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 194px;
  height: 35px;
  color: white;
  font-weight: bold;
}
