/* Start Global Variabels */
:root {
    --mainColor: #10cab7;
    --secondryColor: #2c4755;

}

/* End Global Variabels */

/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.special-shadwo {
    text-align: center;
    font-size: 101px;
    text-transform: capitalize;
    font-weight: 800;
    color: #e8e8e8;
    letter-spacing: -9px;
    margin: 0;
}

.special-shadwo+p {
    text-align: center;
    color: #3b3936;
    margin-top: -24px;
    letter-spacing: -1px;
}

@media (max-width:767px) {
    .special-shadwo {
        font-size: 60px;
    }

    .special-shadwo+p {
        font-size: 12px;
        margin-top: -17px;
    }
}

body {
    font-family: "Work Sans", sans-serif;

}

@media (min-width:768px) {
    .container {
        widows: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

/* start header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 90%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 3px;

}

.header .links .icon span {
    margin-bottom: 5px;
    background-color: #6f6969;
}

.header .links .icon span:first-child {
    width: 90%;
    height: 1px;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    height: 1px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.header .links .icon span:last-child {
    width: 90%;
    height: 1px;
}



.header .links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #f8f8f0;
    position: absolute;
    right: 0px;
    min-width: 200px;
    top: calc(100% + 9px);
    display: none;
    z-index: 1;
}

.header .links:hover.links ul {
    display: block;

}

.header .links ul::before {
    content: "";
    border-color: transparent transparent #f8f8f0 transparent;
    border-width: 9px;
    border-style: solid;
    position: absolute;
    right: 6px;
    top: -17px;
}

.header .links ul li a {
    background-color: transparent;
    padding: 15px;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    color: #868585;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.header .links ul li:not(:last-child) a {
    border: 1px solid #ddd;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

/* end header */
/* Start landing Page  */
.landing {
    background-image: url(../images/pexels-pixabay-355770.jpg);
    position: relative;
    background-size: cover;
    height: calc(100vh - 64px);
    background-position-y: bottom;
}

.landing .introText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    width: 350px;
    max-width: 100%;
}

.landing .introText h1 {
    color: var(--mainColor);
    padding: 0px;
    padding-bottom: 20px;
    margin: 0%;
    font-weight: bold;
    font-size: 45px;
}

.landing p {
    padding: 0;
    margin: 0%;
    font-size: 19px;
    line-height: 1.8;
}

/* start feature section  */

.features {
    padding-top: 60px;
    background-color: #f6f6f6;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    color: var(--mainColor);
    gap: 20px;
}

.feat {
    text-align: center;
    padding: 15px;
}


.feat i {
    font-size: 57px;
    text-align: center;

}

.feat h4 {
    font-size: 14px;
    font-weight: 700;
    color: black;

}

.feat p {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.8;
    color: #777;
}

/* end feature section  */
/* start services section  */
.sercices .services-contents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.sercices .services-contents .services-icons {
    display: flex;
    margin-bottom: 20px;

}

@media (max-width:767px) {
    .sercices .services-contents .services-icons {
        flex-direction: column;
        text-align: center;
    }

    .sercices .services-contents .services-icons i {
        align-content: center;
    }
}

.sercices .services-contents .services-icons i {
    color: var(--mainColor);
    flex-basis: 60px;
    font-size: 25px;

}

.sercices .services-contents .services-icons .data {
    flex: 1;
}

.sercices .services-contents .services-icons h4 {
    margin-top: 0;
    margin-bottom: 0;

}

.sercices .services-contents .services-icons p {
    color: #777;
    line-height: 1.8;
}

.sercices .services-contents .services-imag1 {
    text-align: center;
    position: relative;
    top: 70px;
}

.sercices .services-contents .services-imag1 img {
    width: 250px;
    height: 269px;
}

.sercices .services-contents .services-imag1::before {
    content: "";
    background-color: var(--secondryColor);
    width: 127px;
    height: calc(100% + 50px);
    position: absolute;
    top: -25px;
    right: 0;
    z-index: -1;
}

@media (max-width :1023px) {
    .services-imag1 {
        display: none;
    }
}

.portflio {
    background-color: #f6f6f6;
    padding-bottom: 40px;
}

.portflio .container .special-shadwo {
    letter-spacing: 1px;
}

.portflio .container .portflio-main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 90px;
    gap: 20px;
}

.portflio .container .portflio-main .portflio-content {
    text-align: center;
    background-color: white;
}




.portflio .container .portflio-main .portflio-content div img {
    width: 100%;
    height: 270px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


.portflio .container .portflio-main .portflio-content h4 {
    padding-left: 14px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.portflio .container .portflio-main .portflio-content p {
    padding: 14px;
    color: #777;
    line-height: 1.8;
    text-align: left;
    margin: 0;
}

/* end services section  */
/* start about section  */
.about {
    padding-bottom: 40px;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}

.about .about-content .about-img {
    position: relative;
    width: 170px;
    height: 170px;
    margin: 40px;
}

.about .about-content .about-img img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}


.about .about-content .about-img::before {
    content: "";
    width: 66px;
    height: 240px;
    background-color: #eee;
    z-index: -1;
    position: absolute;
    top: -35px;
    left: -5px;
}

.about .about-content .about-img::after {
    content: "";
    width: 50px;
    height: 124px;
    z-index: -1;
    position: absolute;
    top: -21px;
    right: -76px;
    border-bottom: 29px solid var(--mainColor);
    border-left: 63px solid var(--mainColor);

}

.about .about-content .info {
    flex-basis: calc(100% - 400px);
}

@media(max-width:767px) {

    .about .about-content .info,
    .about .about-content .about-img {
        text-align: center;
        display: contents;
    }
}

@media(max-width:767px) {

    .about .about-content .about-img::after,
    .about .about-content .about-img::before {
        display: none;
    }
}


.about .about-content .info p:first-child {
    line-height: 1.8;
    font-weight: bold;
    margin-bottom: 43px;
    margin-top: 0;

}

.about .about-content .info p:last-child {
    line-height: 1.8;
    color: #777;
}

.about .about-content .info hr {
    border-color: var(--mainColor);
    width: 50%;

}

/* end about section  */
/* start contact section  */

.contact {
    background-color: #f6f6f6;
}

.contact .contact-main {
    margin-top: 80px;
    display: flex;
    justify-content: center;

}

.contact .contact-main .contact-content {
    text-align: center;
}

.contact-main .contact-content .mail {
    line-height: 0.1;
}

.contact-main .contact-content .mail h4 {
    color: #2c4755;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -1.5px;

}

.contact-main .contact-content .mail a {
    text-decoration: none;
    color: brown;
    font-weight: 900;
    font-size: 20px;
}

.contact .contact-main .contact-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    margin-left: 59px;
    margin-top: 30px;
}

.contact .contact-main .contact-icons p,
i {
    color: #2c4755;
}



/* end contact section  */
.footer {
    background-color: var(--secondryColor);
    text-align: center;
    height: 51px;
    padding: 30px;
    color: wheat;
    font-size: small;
}